/* .transition-1 {
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0;
    bottom: 0;
    z-index: 101;
    background-image: url(images/airscooter.gif), url(images/bgBW.png);
    opacity: 0;
    pointer-events: none;
    transition: .7s ease-out, 1s ease-out;
    background-repeat: no-repeat, no-repeat;
    background-position: center;
}

.transition-1.is-active {
    opacity: 1;
    pointer-events: all;
} */

body {
    background: url(/images/fireinterior.png);
    font-family: 'Herculanum';
    display: block;
    margin: 0;
    min-height: 100vh;
    overflow: hidden;
    background-repeat: no-repeat;
}

/* .fireIcon {
    position: fixed;
    top: -17.4%;
    left: -7.45%;
    transform: scale(.15);
} */

a {
    text-decoration: none;
}

.home img {
    transform: scale(.25);
    position: fixed;
    top: -17%;
}


.home {
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-left: 50%;
    margin-right: 50%;
    margin-bottom: -5px;
}

.fire-title {
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    justify-content: center;
    margin-top: -40px;
    margin-left: 50%;
    margin-right: 50%;
    margin-bottom: -20px;
    color: white;
    font-size: 20px;
    letter-spacing: 3.5px;
    font-weight: 400;
    text-shadow: 0px 2px 3px #030303;  
}

.firebenders-info {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    transform: scale(.6);
    gap: 7%;
}

.fire-card, .fire-card2, .fire-card3 {
    box-shadow: 0px 0px 10px 7px rgba(0,0,0,0.52);
}

.fire-card:hover {
    transform: scale(1.3);
    transition: transform .2s;
    cursor: pointer;
}

.fire-card2:hover {
    transform: scale(1.3);
    transition: transform .2s;
    cursor: pointer;
}

.fire-card3:hover {
    transform: scale(1.3);
    transition: transform .2s;
    cursor: pointer;
}

.firebenders-info img {
    max-width: 35%;
    /* max-height: 50%; */
	transition: .3s ease-in-out;
}
